.movement-item {
    display: flex;
    gap: 8px;
    /* min-width: 400px; */
    border-bottom: 1px solid #373e4a;
    padding-bottom: 8px;
}

.movement-item:last-child {
    border: none;
}

.movement-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.movement-detail {
    flex: 1;
    margin-left: 10;
}

.movement-date {
    font-size: 0.8em;
    font-style: oblique;
}

.detail {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
}

.type {
    font-size: 0.9em;
}

.amount-container {
    margin-top: 16px;
}

.amount {
    font-size: 1.4em;
}

.amountReceived {
    color: #a5ff8f;
}

.amountReceived::before {
    content: "+";
    padding-right: 3px;
}

.amountTransfer {
    color: #ff8f8f;
}

.amountTransfer::before {
    content: "-";
    padding-right: 3px;
}
